[
    { rabbit, [
        {auth_backends, [rabbit_auth_backend_internal,rabbit_auth_backend_http]}
    ] },

    { rabbitmq_auth_backend_http, [
        {http_method, post},
        {user_path,     "${RABBITMQ_AUTH_ENDPOINT}/user"},
        {vhost_path,    "${RABBITMQ_AUTH_ENDPOINT}/vhost"},
        {resource_path, "${RABBITMQ_AUTH_ENDPOINT}/resource"},
        {topic_path,    "${RABBITMQ_AUTH_ENDPOINT}/topic"}
    ] },

    {rabbitmq_web_stomp, [
        {use_http_auth, true}
    ] }
].